<!DOCTYPE html>
<html>
  <head>
    <title>Educational registration form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
      html, body {
      min-height: 100%;
      }
      body, div, form, input, select, p { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 16px;
      color: #eee;
      }
      body {
      /* background: url("/uploads/media/default/0001/01/b5edc1bad4dc8c20291c8394527cb2c5b43ee13c.jpeg") no-repeat center; */
      background-size: cover;
      }
      h1, h2 {
      text-transform: uppercase;
      font-weight: 400;
      }
      h2 {
      margin: 0 0 0 8px;
      }
      .main-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 25px;
      background: rgba(0, 0, 0, 1.5);
      }
      .left-part, form {
      padding: 25px;
      }
      .left-part {
      text-align: center;
      }
      .fa-graduation-cap {
      font-size: 72px;
      }
      /*.form-div {*/
      /*background: rgba(0, 0, 0, 0.7); */
      /*}*/
      .title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      }
      .info {
      display: flex;
      flex-direction: column;
      }
      input, select {
      padding: 5px;
      margin-bottom: 30px;
      background: transparent;
      border: none;
      border-bottom: 1px solid #eee;
      }
      input::placeholder {
      color: #eee;
      }
      option:focus {
      border: none;
      }
      option {
      background: black; 
      border: none;
      }
      .checkbox input {
      margin: 0 10px 0 0;
      vertical-align: middle;
      }
      .checkbox a {
      color: #26a9e0;
      }
      .checkbox a:hover {
      color: #85d6de;
      }
      .btn-item, button {
      padding: 10px 5px;
      margin-top: 20px;
      border-radius: 5px; 
      border: none;
      background: #26a9e0; 
      text-decoration: none;
      font-size: 15px;
      font-weight: 400;
      color: #fff;
      }
      .btn-item {
      display: inline-block;
      margin: 20px 5px 0;
      }
      button {
      width: 100%;
      }
      button:hover, .btn-item:hover {
      background: #85d6de;
      }
      @media (min-width: 568px) {
      html, body {
      height: 100%;
      }
      .main-block {
      flex-direction: row;
      height: calc(100% - 50px);
      }
      .left-part, form {
      flex: 1;
      height: auto;
      }
      }
    </style>
  </head>
  <body>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script type="text/javascript">
          function setForm(value) {

              if (value === 'retrieve_book_by_id') {
                  $('#fuzzy_queries').hide();
                  $('#search_book_by_parameter').hide();
                  $('#match_phrase_prefix').hide();
                  $('#regex').hide();
                  $('#match_phrase_query').hide();
                  $('#term_query').hide();
                  $('#range_query').hide();
                  $('#retrieve_book_by_id').show();

                  // document.getElementById('retrieve_book_by_id').style = 'display:block;';
                  // document.getElementById('fuzzy_queries').style = 'display:none;';
              } else if (value === 'fuzzy_queries') {
                  $('#retrieve_book_by_id').hide();
                  $('#search_book_by_parameter').hide();
                  $('#match_phrase_prefix').hide();
                  $('#regex').hide();
                  $('#match_phrase_query').hide();
                  $('#term_query').hide();
                  $('#range_query').hide();
                  $('#fuzzy_queries').show();
                  // document.getElementById('fuzzy_queries').style = 'display:block;';
                  // document.getElementById('retrieve_book_by_id').style = 'display:none;';
              } else if (value === 'search_book_by_parameter'){
                  $('#retrieve_book_by_id').hide();
                  $('#fuzzy_queries').hide();
                  $('#match_phrase_prefix').hide();
                  $('#regex').hide();
                  $('#match_phrase_query').hide();
                  $('#term_query').hide();
                  $('#range_query').hide();
                  $('#search_book_by_parameter').show();

              } else if (value === 'match_phrase_prefix'){

                  $('#retrieve_book_by_id').hide();
                  $('#fuzzy_queries').hide();
                  $('#search_book_by_parameter').hide();
                  $('#regex').hide();
                  $('#match_phrase_query').hide();
                  $('#term_query').hide();
                  $('#range_query').hide();
                  $('#match_phrase_prefix').show();

              } else if (value === 'regex'){
                  $('#retrieve_book_by_id').hide();
                  $('#fuzzy_queries').hide();
                  $('#search_book_by_parameter').hide();
                  $('#match_phrase_prefix').hide();
                  $('#match_phrase_query').hide();
                  $('#term_query').hide();
                  $('#range_query').hide();
                  $('#regex').show();
              } else if (value === 'match_phrase_query'){

                  $('#retrieve_book_by_id').hide();
                  $('#fuzzy_queries').hide();
                  $('#search_book_by_parameter').hide();
                  $('#match_phrase_prefix').hide();
                  $('#regex').hide();
                  $('#range_query').hide();
                  $('#match_phrase_query').show();
              } else if (value === 'term_query'){
                  $('#retrieve_book_by_id').hide();
                  $('#fuzzy_queries').hide();
                  $('#search_book_by_parameter').hide();
                  $('#match_phrase_prefix').hide();
                  $('#regex').hide();
                  $('#match_phrase_query').hide();
                  $('#range_query').hide();
                  $('#term_query').show();
              } else if (value === 'range_query'){
                  $('#retrieve_book_by_id').hide();
                  $('#fuzzy_queries').hide();
                  $('#search_book_by_parameter').hide();
                  $('#match_phrase_prefix').hide();
                  $('#regex').hide();
                  $('#match_phrase_query').hide();
                  $('#term_query').hide();
                  $('#range_query').show();
              }
          }

</script>
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-graduation-cap"></i>
        <h1>Book Storage</h1>

        <select id="select_input" onchange="setForm(this.value)">
            <option value="retrieve_book_by_id" selected>Retrieve Book By ID*</option>
            <option value="search_book_by_parameter">Search Books By Parameter</option>
            <option value="fuzzy_queries">Fuzzy Queries</option>
            <option value="regex">WildCard Query</option>
            <option value="match_phrase_query">Match Phrase Query</option>
            <option value="match_phrase_prefix">Match Phrase Prefix Query</option>
            <option value="term_query">Term Query</option>
            <option value="range_query">Range Query</option>

          </select>
          <button id="submit_button" type="submit" class=".btn-item">Submit</button>
      </div>

      <div id="retrieve_book_by_id" class="form-div">
<!--      <form action="result.html">-->
        <div class="title">
          <i class="fas fa-pencil-alt"></i>
          <h2>Search Book By ID</h2>
        </div>
        <div class="info">
          <input id="book_id" class="fname" type="text" name="name" placeholder="Book ID">
        </div>
      </div>

        <div id="fuzzy_queries" class="form-div">
<!--      <form action="result.html">-->
    <div class="title">
      <i class="fas fa-pencil-alt"></i>
      <h2>Fuzzy Matching</h2>
    </div>
    <div class="info">
      <input id="query" class="fname" type="text" name="name" placeholder="query">
        <input id="fields" class="fname" type="text" name="name" placeholder="Fields">
    </div>
  </div>
        <div id="search_book_by_parameter" class="form-div">
    <div class="title">
      <i class="fas fa-pencil-alt"></i>
      <h2>Search Book By parameter</h2>
    </div>
    <div class="info">
      <input id="book_query" class="fname" type="text" name="name" placeholder="query">
        <input id="book_field" class="fname" type="text" name="name" placeholder="field">
    </div>
  </div>
        <div id="match_phrase_prefix" class="form-div">
    <div class="title">
      <i class="fas fa-pencil-alt"></i>
      <h2>Match Phrase Prefix Query</h2>
    </div>
    <div class="info">
      <input id="match_phrase_q" class="fname" type="text" name="name" placeholder="query">
        <input id="slop" class="fname" type="text" name="name" placeholder="slop">
    </div>
  </div>
        <div id="regex" class="form-div">
    <div class="title">
      <i class="fas fa-pencil-alt"></i>
      <h2>WildCard Query</h2>
    </div>
    <div class="info">
      <input id="wildcard_q" class="fname" type="text" name="name" placeholder="query">
        <input id="wildcard_field" class="fname" type="text" name="name" placeholder="field">
    </div>
  </div>
        <div id="match_phrase_query" class="form-div">
    <div class="title">
      <i class="fas fa-pencil-alt"></i>
      <h2>Match Phrase Query</h2>
    </div>
    <div class="info">
      <input id="mphrase_query" class="fname" type="text" name="name" placeholder="query">
        <input id="mphrase_fields" class="fname" type="text" name="name" placeholder="fields">
        <input id="mphrase_slop" class="fname" type="text" name="name" placeholder="slop">
    </div>
  </div>
        <div id="term_query" class="form-div">
    <div class="title">
      <i class="fas fa-pencil-alt"></i>
      <h2>Term Query</h2>
    </div>
    <div class="info">
      <input id="terms" class="fname" type="text" name="name" placeholder="terms">
        <input id="term_field" class="fname" type="text" name="name" placeholder="field">
    </div>
  </div>
        <div id="range_query" class="form-div">
    <div class="title">
      <i class="fas fa-pencil-alt"></i>
      <h2>Range Query</h2>
    </div>
    <div class="info">
        <input id="range" type="text" name="daterange" value="01/03/2019 - 01/03/2019" />
    </div>
  </div>
</div>
    </div>
  </body>
</html>

<script type="text/javascript">
    function showForms(){
        $('#fuzzy_queries').hide();
        $('#search_book_by_parameter').hide();
        $('#match_phrase_prefix').hide();
        $('#regex').hide();
        $('#term_query').hide();
        $('#match_phrase_query').hide();
        $('#range_query').hide();
        $('#retrieve_book_by_id').show();
    }
</script>

<script type="text/javascript">
  var url = "http://127.0.0.1:5000/ask/storage/";
    $(document).ready(function(){
        showForms();
        $("#submit_button").click( function() {

            selected_div = $('#select_input').val();

          if (selected_div == 'retrieve_book_by_id'){
            $.ajax({
                url: "http://127.0.0.1:5000/ask/storage/",
                type: "POST",
                dataType: 'json',
                timeout: 0,
                contentType: 'application/json',
                data: JSON.stringify({"action":selected_div,"book_id":$('#book_id').val()}),
                success: function(response){
                    window.localStorage.setItem('response', JSON.stringify(response));
                    window.location = 'result.html';
                  },
            })
          } else if (selected_div == 'fuzzy_queries'){
                          $.ajax({
                              url: "http://127.0.0.1:5000/ask/storage/",
                              type: "POST",
                              dataType: 'json',
                              timeout: 0,
                              contentType: 'application/json',
                              data: JSON.stringify({"action":selected_div,"query":$('#query').val(), "fields":$('#fields').val().split(',')}),
                              success: function(response){
                                  window.localStorage.setItem('response', JSON.stringify(response));
                                  window.location = 'result.html';
                                  console.log(response);
                  },
            })
          } else if (selected_div == 'search_book_by_parameter'){
              $.ajax({
                  url: "http://127.0.0.1:5000/ask/storage/",
                  type: "POST",
                  dataType: 'json',
                  timeout: 0,
                  contentType: 'application/json',
                  data: JSON.stringify({"action":selected_div,"query":$('#book_query').val(), "field":$('#book_field').val()}),
                  success: function(response){
                      window.localStorage.setItem('response', JSON.stringify(response));
                      window.location = 'result.html';
                      console.log(response);
                  },
            })
          }
          else if (selected_div == 'match_phrase_prefix'){
              $.ajax({
                  url: "http://127.0.0.1:5000/ask/storage/",
                  type: "POST",
                  dataType: 'json',
                  timeout: 0,
                  contentType: 'application/json',
                  data: JSON.stringify({"action":selected_div,"slop":$('#slop').val(), "query":$('#match_phrase_q').val()}),
                  success: function(response){
                      window.localStorage.setItem('response', JSON.stringify(response));
                      window.location = 'result.html';
                      console.log(response);
                  },
            })
          } else if (selected_div == 'regex'){
              $.ajax({
                  url: "http://127.0.0.1:5000/ask/storage/",
                  type: "POST",
                  dataType: 'json',
                  timeout: 0,
                  contentType: 'application/json',
                  data: JSON.stringify({"action":'wild_card_query',"field":$('#wildcard_field').val(), "query":$('#mphrase_query').val()}),
                  success: function(response){
                      window.localStorage.setItem('response', JSON.stringify(response));
                      window.location = 'result.html';
                      console.log(response);
                  },
            })
          } else if (selected_div == 'match_phrase_query'){
              $.ajax({
                  url: "http://127.0.0.1:5000/ask/storage/",
                  type: "POST",
                  dataType: 'json',
                  timeout: 0,
                  contentType: 'application/json',
                  data: JSON.stringify({"action":selected_div,"fields":$('#mphrase_fields').val().split(","), "query":$('#mphrase_query').val(), "slop": $('#mphrase_slop').val()}),
                  success: function(response){
                      window.localStorage.setItem('response', JSON.stringify(response));
                      window.location = 'result.html';
                      console.log(response);
                  },
            })
          } else if (selected_div == 'term_query'){
              selected_terms = $('#terms').val().split(",");

              if (selected_terms.length == 1){
                  data = selected_terms[0]
              } else {
                  data = selected_terms
              }
              $.ajax({
                  url: "http://127.0.0.1:5000/ask/storage/",
                  type: "POST",
                  dataType: 'json',
                  timeout: 0,
                  contentType: 'application/json',
                  data: JSON.stringify({"action":selected_div,"field":$('#term_field').val(), "term":data}),
                  success: function(response){
                      window.localStorage.setItem('response', JSON.stringify(response));
                      window.location = 'result.html';
                      console.log(response);
                  },
            })
          } else if (selected_div == 'range_query'){
              console.log(selected_div);

              $('input[name="daterange"]').daterangepicker({
                opens: 'left'
              }, function(start, end, label) {
                  start_date = start.format('YYYY-MM-DD');
                  end_date = end.format('YYYY-MM-DD');

                  $.ajax({
                  url: "http://127.0.0.1:5000/ask/storage/",
                  type: "POST",
                  dataType: 'json',
                  timeout: 0,
                  contentType: 'application/json',
                  data: JSON.stringify({"action":selected_div,"field":"publish_date", "range": {gte: start_date, lte: end_date}}),
                  success: function(response){
                      window.localStorage.setItem('response', JSON.stringify(response));
                      window.location = 'result.html';
                      console.log(response);
                  },
            })
              });
          }
        })
    })
</script>